@import url('https://fonts.googleapis.com/css2?family=Iosevka:wght@400;500&display=swap');
:root {
	--font: "Iosevka", monospace;
	--background: #191919;
	--background_alt: #292929;
	--foreground: #BCC4C9;
  --red: #D18F8F;
  --green: #BEE1AD;
  --blue: #A5B4CB;
  --orange: #CEB188;
  --violet: #C49EC4;
  --accent: var(--blue);
	--grid_columns: 3;
	--grid_rows: 2;
}
* {
	font-family: var(--font);
	box-sizing: border-box;
}
body {
  display: flex;
  margin: auto;
	align-items: center;
	position: relative;
  justify-content: center;
  padding: auto;
  background-color: var(--background);
  height: 100vh;
}
main {
	width: 400px;
	gap: 14px;
  margin: auto;
	display: grid;
	grid-template-columns: repeat(var(--grid_columns), minmax(200px, 1fr));
	grid-template-rows: repeat(var(--grid_rows), minmax(100px, 1fr));
}
main > a {
	display: flex;
  align-items: center;
	justify-content: center;
	padding: auto;
	text-decoration: none;
	font-size: 2em;
	background-color: var(--background_alt);
	color: var(--foreground);
}
main > a:hover {
	background-color: var(--accent);
	color: var(--background);
}
