@import url('https://fonts.googleapis.com/css2?family=Iosevka:wght@400;500&display=swap');
:root {
	--font: "Iosevka", monospace;
	--background: #191919;
	--background_alt: #292929;
	--foreground: #BCC4C9;
  --red: #D18F8F;
  --green: #BEE1AD;
  --blue: #A5B4CB;
  --orange: #CEB188;
  --violet: #C49EC4;
  --accent: var(--blue);
	--grid_columns: 3;
	--grid_rows: 2;
}
* {
	font-family: var(--font);
}
body {
  display: flex;
  margin: auto;
	align-items: center;
  justify-content: center;
  background-color: var(--background);
  height: 100vh;
}
h1 {
  text-align: center;
  margin-top: auto;
  font-size: 3em;
  color: var(--foreground);
}
p {
  text-align: center;
  margin: auto;
  color: var(--foreground);
  background: var(--background);
}
h2 {
  text-align: center;
  margin-bottom: auto;
  font-size: 2em;
  color: var(--foreground);
}
a {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 14px;
  width: 180px;
  height: 100px;
  line-height: 100px;
  font-size: 1.4em;
  background-color: var(--background_alt);
  color: var(--accent);
}
a:hover {
  background-color: var(--accent);
  color: var(--background);
}
